<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Signup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true">
  <div class="header"></div>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Signup</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-button type="submit" expand="block" [disabled]="signupForm.invalid" (click)="signup()">
    SignUp
  </ion-button>
</ion-content>