.header {
    height: 45%;
    background: var(--ion-color-primary);
}


ion-card {
    bottom: 20%;
    width: 80%;
    --background: white;
    left: 7.5%;
    padding-bottom: 3%;
}

ion-button {
    width: 70%;
    position: relative;
    bottom: 25.5%;
    left: 13.5%;
    --background: var(--ion-color-primary);
    --background-activated: var(--ion-color-primary);
    --background-focused: var(--ion-color-primary);
    --background-hover: var(--ion-color-primary);
    --border-radius: 15px;
    --ripple-color: #1e1e1e;
    --transition: background-color 15ms linear;
}

.sign-up {
    color: var(--ion-color-medium);

    .link {
        color: #d42d0f;
    }
}