.header {
    height: 45%;
    background: var(--ion-color-primary);
}

ion-card {
    bottom: 50px;
    width: 80%;
    height: 40%;
    --background: white;
    left: 7.5%;
}

ion-button {
    width: 70%;
    height: 6%;
    position: absolute;
    bottom: 18%;
    left: 15%;
    --background: var(--ion-color-primary);
    --background-activated: var(--ion-color-primary);
    --background-focused: var(--ion-color-primary);
    --background-hover: var(--ion-color-primary);
    --border-radius: 15px;
    --ripple-color: #1e1e1e;
    --transition: background-color 15ms linear;
}

.sign-up {
    color: var(--ion-color-medium);

    .link {
        color: #d42d0f;
    }
}