<ion-content>
  <div class="header"></div>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <!-- <ion-item>
          <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
          Login
        </ion-button>
       -->
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>

  </ion-card>
  <div class="sign-up ion-text-center">
    Don't have an account?
    <a class="link" href="" [routerLink]="['/routePath']" routerLinkActive="router-link-active">
      Register
    </a>
  </div>
  <ion-button type="submit" expand="block" (click)="login()" [disabled]="loginForm.invalid">
    Login
  </ion-button>
</ion-content>